* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue Light';
  font-weight: 500;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #1B1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

main {
  height: 80%;
  width: 80%;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1B1E20;
  border-radius: 20px;
}

div {
  height: 60%;
  width: 60%;
  background: #1B1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 20px;
}

button {
  height: 20%;
  width: 30%;
  background: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: #1B1E20;
  border-radius: 20px;
}

button:active {
  transform: scale(0.95);
}

body, main, div {
  position: relative;
}

.tag-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  opacity: 0.6;
}