* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue Light';
  font-weight: 500;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #1B1E20;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 50%;
  width: 80%;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 200px;
  width: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}